$secondary-clr: rgb(240, 195, 99);

.main-content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.2rem;
    text-align: justify;

    & h1 {
        text-align: left;
    }

    & h2 {
        text-align: left;
        color: rgb(87, 133, 233);
    }
    & h3 {
        margin-top: 3em;
    }

    & p code{
        background: rgb(228, 228, 228);
        padding: 0.2em 0.5em;
        border-radius: 5px;
    }

    & a{
        text-decoration: none;
        color: inherit;
        position: relative;

        &:after{
            content: '';
            background: rgb(253, 238, 195);
            height: 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 10px;
            z-index: -1;
            transition: 250ms all ease-in-out;
        }

        &:hover {
            color: rgb(30, 108, 172);

            &:after{
                height: 100%;
                width: 102%;
                left: -2px;
                border-radius: 5px;
            }
        }
    }

    & blockquote{
        background: rgb(253, 238, 195);
        margin: 2em 0;
        padding: 0.1em;
        padding-left: 2em;
        border-left: solid 10px $secondary-clr;
        font-size: 1.1rem;
        color: rgb(172, 127, 30);

        & p a {
            border-bottom: 0.5px dashed rgba(172, 127, 30, 0.6);
        }
        & code {
            background: $secondary-clr;
        }

    }
}