.header {
    background: rgb(252, 252, 252);
    background-image: linear-gradient(to right, black, gray);
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
    height: 10vh;
}